* {
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 13px;
    border: none;
    border-radius: 0;
    min-height: 0;
}
window#waybar {
    background-color: transparent;
    color: #cdd6f4;
}
#workspaces button {
    padding: 0 6px;
    color: #cdd6f4;
    background: transparent;
}
#workspaces button.empty {
    color: #6c7086;
}
#workspaces button.active {
    color: #cdd6f4;
    border-bottom: 2px solid #BFAAFC;
}
#workspaces button:hover {
    color: #cdd6f4;
    background: #313244;
}
#window {
    padding: 0 8px;
    color: #BFAAFC;
}
#mpris {
    padding: 0 8px;
    color: #BFAAFC;
}
#custom-mullvad {
    padding: 0 8px;
    color: #BFAAFC;
}
#custom-cpu {
    padding: 0 8px;
    color: #BFAAFC;
}
#memory {
    padding: 0 8px;
    color: #BFAAFC;
}
#clock {
    padding: 0 8px;
    color: #BFAAFC;
}
#clock tooltip {
    border-radius: 15px;
    background: #181825;
}
#clock tooltip label {
    color: #cdd6f4;
    font-weight: 700;
    padding: 6px 12px;
}
#pulseaudio {
    padding: 0 8px;
    color: #BFAAFC;
}